body{
    background-color: #ddd;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: small-caps;
    color: red;
    background-color: yellow;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 25px;
    width: 50%;
    height: 30px;
}
h2{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #12de5a;
    border-bottom: solid 2px red;
    padding: 10px;
}

.destaque{
    color: red;
    background-color: yellow;
}
p{
    font-variant: normal;
    text-align: left;
    text-decoration: underline;
    text-indent: 20px;
    text-transform: none;
    margin-bottom: 30px;
}