body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ccc;
}
header{
    background-image: url(img/bg-3.jpg);
    height: 500px;
    width: 100%;
    border-top: 1px solid transparent;
    background-position: right center;
    background-size: cover;
}

nav ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}
nav ul li a{
    padding: 10px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(0,0,0, .2);
}
nav ul li a:hover{
    background-color: rgba(0,0,0, .4);
}
nav ul{
    margin-left: 950px;
}

.header-content{
    margin-top: 150px;
    text-align: center;
    color: white;
}
.header-content h1{
    font-size: 46px;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px red;
}

h2{
    background-color: white;
    text-align: center;
}

.header-content p{
    display: inline-block;
    background-color: rgba(0,0,0, .6);
    padding: 10px;
    border-bottom: 2px solid white;
}

main{
    width: 80%;
    margin: auto;
    background-color: #ddd;
}

.card-content{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}
.card{
    float: left;
    width: 32%;
    box-sizing: border-box;
}
.card img{
    width: 100%;
    display: block;
}
.card1, .card2{
    margin-right: 2%;
}
.card p{
    background-color: rgba(0,0,0, .7);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer{
    text-align: center;
    background-color: rgba(0,0,0, .8);
    color: white;
    padding: 1px;
}